.custom-button{
    padding: 15px 15px ;
    border-radius: 60%;
    background-color:#5ECE7B; ;
    color: #fff;
    font-size: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}