.preview-collection-container{
    display: flex;
    flex-direction: column;
    margin: 0px 50px 50px 50px;
.preview-collection-Catrgory{
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
    max-width: 125px;
}
.preview-collection-preview{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 50px;
}


}
