.navbar--container{
    grid-area: header;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    color: #1D1F22;
    padding: 0;
    margin:9px;
    margin-top: 15px;
 
  .logo{
    margin-right: 2em;
    height: 60%;
    justify-self: center;
  }
  .icon--container{
    display: flex;
    justify-content: space-between;
  }
  .cart{
    font-size: 1.5rem;
    margin-right: 5em;
    margin-top: 0.9em;
  }
  .dollar {
    font-size: 1rem;
    margin-top: 1.5em;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .arrow{
    margin-top: 3em;
    font-size: 0.6rem;
    margin-right: 6em;
  }
}